@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

*{
  user-select: none;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/gilroy_regular.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-style: medium;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/gilroy_medium.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-style: bold;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/gilroy_bold.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-style: dark;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/gilroy_xbold.otf");
}

* {
  font-family: "Gilroy";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.serviceimage{
  box-shadow: 0 0 20px 1px #9b9b9b16;
}

#videogradient{
  background: linear-gradient(white, rgba(0, 0, 0, 0));
}

#searchbar{
  box-shadow: 0 0 20px 10px #9b9b9b16;
}